body {
    font-family: Arial, sans-serif;
    padding: 30px;
    max-width: 700px;
    margin: auto;
}

section {
    margin-bottom: 25px;
}

input, button {
    padding: 8px;
    margin: 5px 0;
}

button {
    cursor: pointer;
}

h3 {
    margin-bottom: 5px;
}
